<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Order Management System</title>
<link rel="stylesheet" type="text/css" href="../../style.css" />
<link href='http://fonts.googleapis.com/css?family=Belgrano'
	rel='stylesheet' type='text/css' />
<!-- jQuery file  js/jquery.min.js-->
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="../../js/jquery.tabify.js" type="text/javascript"
	charset="utf-8"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="../../js/graphs.js"></script>
<script type="text/javascript"
	src="https://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
	var $ = jQuery.noConflict();
	$(function() {
		//$('#tabsmenu').tabify();
		$(".toggle_container").hide();
		$(".trigger").click(function() {
			$(this).toggleClass("active").next().slideToggle("slow");
			return false;
		});		
		$("#loadData").click(function(){
			$.get("/brandManager/getMonthlySalesReport",{"month":$("#monthid").val(), "year":$("#yearid").val()}, function(dataFromServer){

	       		 var data = new google.visualization.DataTable();
	       	     data.addColumn('string', 'Store Name');
	        	     data.addColumn('number', 'Qty');
	              data.addRows(dataFromServer);
	       		  console.log(dataFromServer);
	       		  //data.addRows(dataFromServer);
	       		  var options = {
	       		            title: 'Sales report of stores in specific months!!',
	       		            legend: { position: 'none' },
	       		          };
	       		   var chart = new google.visualization.ColumnChart(document.getElementById('salesReport_div'));
	       		   chart.draw(data, options);
	       	  });

			
			
			
		});
		
		
		$("#loadDataWeekly").click(function(){
			$.get("/brandManager/getWeeklySalesReport",{ "year":$("#yearid2").val(), "month":$("#monthid2").val(), "week":$("#weekid").val()}, function(dataFromServer){

	       		 var data = new google.visualization.DataTable();
	       	     data.addColumn('string', 'Store Name');
	        	     data.addColumn('number', 'Qty');
	              data.addRows(dataFromServer);
	       		  console.log(dataFromServer);
	       		  //data.addRows(dataFromServer);
	       		  var options = {
	       		            title: 'Weekly Sales report of stores in specific months!!',
	       		            legend: { position: 'none' },
	       		          };
	       		   var chart = new google.visualization.ColumnChart(document.getElementById('weeklySalesReport_div'));
	       		   chart.draw(data, options);
	       	  });

			
			
			
		});
		$("#loadDataStock").click(function(){
			$.get("/brandManager/getStockReport",{ "brandName":$("#brandName").val()}, function(dataFromServer){

	       		 var data = new google.visualization.DataTable();
	       	     data.addColumn('string', 'Store Name');
	        	     data.addColumn('number', 'Qty');
	              data.addRows(dataFromServer);
	       		  console.log(dataFromServer);
	       		  //data.addRows(dataFromServer);
	       		  var options = {
	       		            title: 'Stock in Each Stores',
	       		            legend: { position: 'none' },
	       		          };
	       		   var chart = new google.visualization.ColumnChart(document.getElementById('stockReport_div'));
	       		   chart.draw(data, options);
	       	  });

			
			
			
		});
		
		$("#loadRegionStock").click(function(){
	    	  $.get("/brandManager/getRegionSaleReport",{ "brandName":$("#brandName_1").val(),"year":$("#regionYear").val(), "month":$("#regionMonth").val()}, function(dataFromServer)
	    			  {
	    		  var data = new google.visualization.DataTable();
	              
	              data.addColumn('string', 'Region');
	        	    data.addColumn('number', 'Sale');
	              data.addRows(dataFromServer);
	        	  

	              // Set chart options
	              var options = {'title':'Region Wise Sale of the Brand',
	                             'width':400,
	                             'height':300};

	              // Instantiate and draw our chart, passing in some options.
	              var chart = new google.visualization.PieChart(document.getElementById('regionSaleReport_div'));
	              chart.draw(data, options);
	            	  }); 		
		});
	});
	google.setOnLoadCallback(drawInventoryMgmtPieChart);
</script>
<!--Load the AJAX API-->

</head>
<body>
	<div id="panelwrap">

		<div class="header">
			<div class="title">
				<a href="#">Order Management System - Brand Manager</a>
			</div>
			<div class="header_right">
				<a href="/brandManager/logout" class="logout">Logout</a>
			</div>
			<div class="menu">
				<ul>
					<li><a href="/brandManager" >Main page</a></li>
					<li><a href="/brandManager/viewReports" class="selected">View Reports</a></li>
					<li><a href="/brandManager/addCategory">Add Category</a></li>
				</ul>
			</div>

		</div>


		<div class="center_content">

			<div id="right_wrap">
				<div>
					<h2>Charts section</h2>
					<!-- 	<div id="chart_div" style="width: 400; height: 300"></div> -->
					<div id="ivmgmt_chart_div" style="width: 400; height: 300"></div>
					<h2>Monthly Sales Report</h2><br></br>
					Year :- <input type="text" id="yearid" name="month"></input> 
					Month :- <input type="text" id="monthid" name="month"></input> 					
  					<input type="submit" id="loadData" value="Submit"></input>	
					<div id="salesReport_div" style="width: 400; height: 300"></div>
  										
					<h2>Weekly Sales Report</h2>
					<br></br>					
					Year :- <input type="text" id="yearid2" name="month"></input> 
					Month :- <input type="text" id="monthid2" name="month"></input>
					Week :- <input type="text" id="weekid" name="month"></input> 
  					<input type="submit" id="loadDataWeekly" value="Submit"></input>
					<div id="weeklySalesReport_div" style="width: 400; height: 300"></div>
					
					<h2> Stores Containing Stock of Your Brand</h2>
					Brand Name : <input type="text" id="brandName" name="brandName"></input>
					<input type="submit" id="loadDataStock" value="Submit"></input>	
					<div id="stockReport_div" style="width: 400; height: 300"></div>
					
					<h2> Region Wise Sale of the Brands</h2>
					Brand Name : <input type="text" id="brandName_1" name="brandName_1"></input>
					Year: <input type="text" id="regionYear" name="regionYear"></input>
					Month : <input type="text" id="regionMonth" name="regionMonth"></input>
					<input type="submit" id="loadRegionStock" value="Submit"></input>
					<div id="regionSaleReport_div" style="width: 400; height: 300"></div>
				</div>
			</div>
			<div class="center_content"></div>
			<div class="clear"></div>
			<!--end of center_content-->

			<div class="footer"></div>

		</div>
	</div>
</body>
</html>