<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Order Maangement System</title>
<link rel="stylesheet" type="text/css" href="../../style.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.5/css/jquery.dataTables.css" />
<link href='http://fonts.googleapis.com/css?family=Belgrano'
	rel='stylesheet' type='text/css' />
<!-- jQuery file  js/jquery.min.js-->
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="js/jquery.tabify.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	var $ = jQuery.noConflict();
	$(function() {
		//$('#tabsmenu').tabify();
		$(".toggle_container").hide();
		$(".trigger").click(function() {
			$(this).toggleClass("active").next().slideToggle("slow");
			return false;
		});
	});
</script>
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript"
	src="https://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../../js/graphs.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var t = $('#example').DataTable();
    var counter = 1;
 	/*
 	   "columns": [
            { "data": "name" },
            { "data": "position" },
            { "data": "office" },
            { "data": "extn" },
            { "data": "start_date" },
            { "data": "salary" }
        ]
 	*/
    
    $.get("/inventoryManager/productList", function(dataFromServer){
    	t.rows.add(dataFromServer).draw();
    });
 
} );


</script>
</head>
<body>
	<div id="panelwrap">

		<div class="header">
			<div class="title">
				<a href="#">Order Management System - Inventory Manager</a>
			</div>



			<div class="menu">
				<ul>
					<li><a href="/inventoryManager/productList" class="selected">Main page</a></li>
					<li><a href="/inventoryManager/viewReports">View Reports</a></li>
					<li><a href="#">Order And Payments</a></li>
					<li><a href="#">Approve Discounts</a></li>
				</ul>
			</div>

		</div>


		<div class="center_content">

			<div id="right_wrap">
				<div>
					<h2>Tables section</h2>
					<table id="example" class="display" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>IsActive</th>
								<th>Order Id</th>
								<th>Discount</th>
								<th>Product Name</th>
								<th>SellingPrice</th>
							</tr>
						</thead>

						<tfoot>
							<tr>
								<th>IsActive</th>
								<th>Order Id</th>
								<th>Discount</th>
								<th>Product Name</th>
								<th>SellingPrice</th>
							</tr>
						</tfoot>
					</table>

				</div>
			</div>

			<div class="clear"></div>
			<!--end of center_content-->

			<div class="footer"></div>

		</div>
	</div>
</body>
</html>