<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Order Management System</title>
<link rel="stylesheet" type="text/css" href="../../style.css" />
<link href='http://fonts.googleapis.com/css?family=Belgrano'
	rel='stylesheet' type='text/css' />
<!-- jQuery file  js/jquery.min.js-->
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="../../js/jquery.tabify.js" type="text/javascript"
	charset="utf-8"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="../../js/graphs.js"></script>
<script type="text/javascript"
	src="https://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
	var $ = jQuery.noConflict();
	$(function() {
		//$('#tabsmenu').tabify();
		$(".toggle_container").hide();
		$(".trigger").click(function() {
			$(this).toggleClass("active").next().slideToggle("slow");
			return false;
		});
		var t = $('#example').DataTable();
		$.get("/inventoryManager/productListBasedOnReview", function(
				dataFromServer) {
			t.rows.add(dataFromServer).draw();
		});
		$("#loadData").click(function(){
			$.get("/inventoryManager/getMonthlySalesReport",{"month":$("#monthid").val(), "year":$("#yearid").val()}, function(dataFromServer){

	       		 var data = new google.visualization.DataTable();
	       	     data.addColumn('string', 'Store Name');
	        	     data.addColumn('number', 'Qty');
	              data.addRows(dataFromServer);
	       		  console.log(dataFromServer);
	       		  //data.addRows(dataFromServer);
	       		  var options = {
	       		            title: 'Sales report of stores in specific months!!',
	       		            legend: { position: 'none' },
	       		          };
	       		   var chart = new google.visualization.ColumnChart(document.getElementById('salesReport_div'));
	       		   chart.draw(data, options);
	       	  });

			
			
			
		});
		
		
		$("#loadDataWeekly").click(function(){
			$.get("/inventoryManager/getWeeklySalesReport",{ "year":$("#yearid2").val(), "month":$("#monthid2").val(), "week":$("#weekid").val()}, function(dataFromServer){

	       		 var data = new google.visualization.DataTable();
	       	     data.addColumn('string', 'Store Name');
	        	     data.addColumn('number', 'Qty');
	              data.addRows(dataFromServer);
	       		  console.log(dataFromServer);
	       		  //data.addRows(dataFromServer);
	       		  var options = {
	       		            title: 'Weekly Sales report of stores in specific months!!',
	       		            legend: { position: 'none' },
	       		          };
	       		   var chart = new google.visualization.ColumnChart(document.getElementById('weeklySalesReport_div'));
	       		   chart.draw(data, options);
	       	  });

			
			
			
		});
		
		$("#loadDataRegionWise").click(function(){
			$.get("/inventoryManager/getRegionSalesReport",{ "year":$("#yearid3").val(), "month":$("#monthid3").val()}, function(dataFromServer){

	       		 var data = new google.visualization.DataTable();
	       	     data.addColumn('string', 'Region Name');
	        	     data.addColumn('number', 'Sales');
	              data.addRows(dataFromServer);
	       		  console.log(dataFromServer);
	       		  //data.addRows(dataFromServer);
	       		  var options = {
	       		            title: 'Region Wise Sales report of stores in specific months!!',
	       		            legend: { position: 'none' },
	       		          };
	       		   var chart = new google.visualization.ColumnChart(document.getElementById('regionWiseSalesReport_div'));
	       		   chart.draw(data, options);
	       	  });

			
			
			
		});
    	         	  
		
		
	});
	google.setOnLoadCallback(drawInventoryMgmtPieChart);
</script>
<!--Load the AJAX API-->

</head>
<body>
	<div id="panelwrap">

		<div class="header">
			<div class="title">
				<a href="#">Order Management System - Inventory Manager</a>
			</div>

			<div class="header_right">
				<a href="/inventoryManager/logout" class="logout">Logout</a>
			</div>
			<div class="menu">
				<ul>
					<li><a href="/inventoryManager">Main page</a></li>
					<li><a href="/inventoryManager/viewReports" class="selected">View Reports</a></li>
				</ul>
			</div>

		</div>


		<div class="center_content">

			<div id="right_wrap">
				<div>
					<h2>Charts section</h2>
					<!-- 	<div id="chart_div" style="width: 400; height: 300"></div> -->
					<div id="ivmgmt_chart_div" style="width: 400; height: 300"></div>
					
					<h2>Monthly Sales Report</h2><br></br>
					Year :- <input type="text" id="yearid" name="month"></input> 
					Month :- <input type="text" id="monthid" name="month"></input> 					
  					<input type="submit" id="loadData" value="Submit"></input>	
					<div id="salesReport_div" style="width: 400; height: 300"></div>
  										
					<h2>Weekly Sales Report</h2>
					<br></br>					
					Year :- <input type="text" id="yearid2" name="month"></input> 
					Month :- <input type="text" id="monthid2" name="month"></input>
					Week :- <input type="text" id="weekid" name="month"></input> 
  					<input type="submit" id="loadDataWeekly" value="Submit"></input>
					<div id="weeklySalesReport_div" style="width: 400; height: 300"></div>
					
					<h2>Region Wise Sales Report</h2>
					<br></br>					
					Year :- <input type="text" id="yearid3" name="month"></input> 
					Month :- <input type="text" id="monthid3" name="month"></input>					 
  					<input type="submit" id="loadDataRegionWise" value="Submit"></input>
					<div id="regionWiseSalesReport_div" style="width: 400; height: 300"></div>
				</div>

				<div>
					<h2>Tables section</h2>
					<div class="dataTables_wrapper">
						<table id="example" class="display dataTable" cellspacing="0"
							width="100%">
							<thead>
								<tr>
									<th>IsActive</th>
									<th>Order Id</th>
									<th>Discount</th>
									<th>Product Name</th>
									<th>SellingPrice</th>
								</tr>
							</thead>

							<tfoot>
								<tr>
									<th>IsActive</th>
									<th>Order Id</th>
									<th>Discount</th>
									<th>Product Name</th>
									<th>SellingPrice</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
			<div class="center_content"></div>



			<div class="clear"></div>
			<!--end of center_content-->

			<div class="footer"></div>

		</div>
	</div>
</body>
</html>