<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login Form</title>

</head>
<body>






	<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="../excanvas.js"></script><![endif]-->
	<script class="include" type="text/javascript"
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<link class="include" rel="stylesheet" type="text/css"
		href="../../jqplot/jquery.jqplot.min.css" />
	<link rel="stylesheet" type="text/css"
		href="../../jqplot/examples/examples.min.css" />
	<link type="text/css" rel="stylesheet"
		href="../../jqplot/examples/syntaxhighlighter/styles/shCoreDefault.min.css" />
	<link type="text/css" rel="stylesheet"
		href="../../jqplot/examples/syntaxhighlighter/styles/shThemejqPlot.min.css" />

	<script type="text/javascript"
		src="../../jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
	<script type="text/javascript"
		src="../../jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
	<script>
		$(document).ready(function() {
			var plot1b = $.jqplot('chart1b', [ l2, l3, l4 ], {
				stackSeries : true,
				showMarker : false,
				seriesDefaults : {
					fill : true
				},
				axes : {
					xaxis : {
						renderer : $.jqplot.CategoryAxisRenderer,
						ticks : [ "Mon", "Tue", "Wed", "Thr", "Fri" ]
					}
				}
			});
		});
	</script>

	<h2>Online Inventory Management System</h2>
	<form name="loginForm" method="POST" action="j_security_check">
		<p>
			<strong>User Name </strong> <input type="text" name="j_username"
				size="25"></input>
		</p>
		<p>
			<strong>Password: </strong> <input type="Password" size="15"
				name="j_password"></input>
		</p>
		<p>
			<input type="submit" value="Submit"> </input> <input type="reset"
				value="Reset"> </input>
		</p>
	</form>
</body>
</html>