<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login Form</title>
    </head>
    <body>
        <h2>Online Inventory Management System</h2>
        <form name="loginForm" method="POST" action="j_security_check">
            <p><strong>User Name </strong>
                <input type="text" name="j_username" size="25"></input></p>
            <p><strong>Password: </strong>
                <input type="Password" size="15" name="j_password"></input></p>
            <p>
                <input type="submit" value="Submit"> </input>
                <input type="reset" value="Reset"> </input></p>
        </form>       
    </body>
</html>