<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Order Maangement System</title>
<link rel="stylesheet" type="text/css" href="../../style.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.5/css/jquery.dataTables.css" />
<link href='http://fonts.googleapis.com/css?family=Belgrano'
	rel='stylesheet' type='text/css' />
<!-- jQuery file  js/jquery.min.js-->
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="js/jquery.tabify.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
var $ = jQuery.noConflict();
$(function() {
$('#tabsmenu').tabify();
$(".toggle_container").hide(); 
$(".trigger").click(function(){
	$(this).toggleClass("active").next().slideToggle("slow");
	return false;
});
});
</script>
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../../js/graphs.js"></script>
<script type="text/javascript">

$(document).ready(function() {
	
    var t = $('#example').DataTable();
    var counter = 1;
    $('#viewRequest').hide();
    $('#viewDiscounts').hide();
    $('#viewReports').hide();
    $.get("/storeManager/getStoreItem", function(dataFromServer){
    	t.rows.add(dataFromServer).draw();
    });
    $("#mainPage_Click").click(function () {
        var t = $('#inventoryRequest').DataTable();
        var counter = 1;
        $('#viewRequest').hide();
        $('#storeItem').show();
        $('#viewDiscounts').hide();
        $("#viewReports").hide();
        $("#tab1").show();
        $("#tabsmenu").show();
        $.get("/storeManager/getStoreInventoryRequests", function(dataFromServer){
        t.rows.add(dataFromServer).draw();	})});

    $('#typeOfReport').change(function() {
        if ($(this).find(':selected').val() === 'WSR') {
        	$('#WSR_Input').show();
        	$('#MSR_Input').hide();
        } else if($(this).find(':selected').val() === 'MSR'){
        	$('#WSR_Input').hide();
        	$('#MSR_Input').show();
        	$('#PSR_Input').hide();
        }
        else if($(this).find(':selected').val() === 'PSR')
        {
        	$('#WSR_Input').hide();
        	$('#MSR_Input').hide();
        	$('#PSR_Input').show();
        }
    });
 
    
    
    
    $("#viewRequest_Click").click(function () {
        var t = $('#inventoryRequest').DataTable();
        var counter = 1;
        $('#viewRequest').show();
        $('#storeItem').hide();
        $('#viewDiscounts').hide();
        $("#viewReports").hide();
        $("#tab1").hide();
        $("#tabsmenu").hide();
        $.get("/storeManager/getStoreInventoryRequests", function(dataFromServer){
        t.rows.add(dataFromServer).draw();	})});
    
    $("#viewDiscount_Click").click(function () {
            var t = $('#minstoreStatistics').DataTable();
            var f = $('#maxstoreStatistics').DataTable();
            var counter = 1;
            $('#viewRequest').hide();
            $('#storeItem').hide();
            $('#viewDiscounts').show();
            $("#viewReports").hide();
            $("#tab1").hide();
            $("#tabsmenu").hide();
            $.get("/storeManager/getminStoreStatistics", function(dataFromServer){
            t.rows.add(dataFromServer).draw();	}) 
            $.get("/storeManager/getmaxStoreStatistics", function(dataFromServer){
            f.rows.add(dataFromServer).draw();	}) });
    
    $("#viewReport_click").click(function(){
    	$('#MSR_Input').hide();
    	$('#PSR_Input').hide();
    	$("#viewReports").show();
    	$('#viewRequest').hide();
        $('#storeItem').hide();
        $('#viewDiscounts').hide();
        $("#tab1").hide();
        $("#tabsmenu").hide();
        	  
      	 $("#loadData").click(
      			function (){
      	      		 
      	      		console.log('The SELECTED REPORT ' + ($('#typeOfReport').find(':selected').val()));
      	      		if (($('#typeOfReport').find(':selected').val()) == 'WSR')
      	      		{
      	      			$('#salesMonthReport_div').hide();
      	      			$('#monthlyGrowth_Report').hide();
          	      	 	$.get("/storeManager/getWeeklySalesReport",{monthID:$("#wsr_month").val() , yearID:$("#wsr_year").val()}, function(dataFromServer){
          				
         	        		 var data = new google.visualization.DataTable();
         	        		 data.addColumn('number', 'Week');
         	        		data.addColumn('number', 'Qty');
         	               data.addRows(dataFromServer);
         	        		  console.log(dataFromServer);
         	        		  var options = {
         	        		            title: 'Weekly Report of the store',
         	        		            legend: { position: 'none' },
         	        		          };
         	        		   var chart = new google.visualization.ColumnChart(document.getElementById('salesWeekReport_div'));
         	        		   chart.draw(data, options);
         	        	  });
          	      	$('#salesWeekReport_div').show();
      	      		}
      	      		else if(($('#typeOfReport').find(':selected').val()) == 'MSR')
      	      		{
     	      			$('#salesWeekReport_div').hide();
      	      			$('#monthlyGrowth_Report').hide();
          	      	 	$.get("/storeManager/getMonthlySalesReportData",{yearID:$("#msr_year").val()}, function(dataFromServer){
              				
        	        		 var data = new google.visualization.DataTable();
        	        		 data.addColumn('number', 'Month');
        	        		data.addColumn('number', 'Qty');
        	               data.addRows(dataFromServer);
        	        		  console.log(dataFromServer);
        	        		  var options = {
        	        		            title: 'Monthly Sales Report',
        	        		            legend: { position: 'none' },
        	        		          };
        	        		   var chart = new google.visualization.ColumnChart(document.getElementById('salesMonthReport_div'));
        	        		   chart.draw(data, options);
        	        	  });
          	      	$('#salesMonthReport_div').show();
      	      		}
      	      		else if(($('#typeOfReport').find(':selected').val()) == 'PSR')
      	      		{
      	      		$('#salesWeekReport_div').hide();
  	      			$('#salesMonthReport_div').hide();
          	      	 	$.get("/storeManager/getMonthlyGrowthReport",{yearID:$("#psr_year").val()}, function(dataFromServer){
              				
       	        		 var data = new google.visualization.DataTable();
       	        		 data.addColumn('number', 'Month');
       	        		data.addColumn('number', 'Growth');
       	               	data.addRows(dataFromServer);
       	        		  console.log(dataFromServer);
       	        		  var options = {
       	        		            title: 'Monthly Growth Report',
       	        		            legend: { position: 'none' },
       	        		          };
       	        		   var chart = new google.visualization.ColumnChart(document.getElementById('monthlyGrowth_Report'));
       	        		   chart.draw(data, options);
       	        	  });
          	      	$('#monthlyGrowth_Report').show();
      	      		}

      	      		 return false;
      	      	 }
      	     		 
      	 
      	 ); 
      	 
          
    });
    
} );


</script>
</head>
<body>
	<div id="panelwrap">

		<div class="header">
			<div class="title">
				<a href="#">Order Management System</a>
			</div>

			<div class="header_right">
				<a href="/storeManager/logout" class="logout">Logout</a>
			</div>

			<div class="menu">
				<ul>
					<li><a href="#storeItem" id="mainPage_Click" class="selected">Main page</a></li>
					<li><a href="#viewReports" id="viewReport_click">View Reports</a></li>
					<li><a href="#viewRequest" id="viewRequest_Click">View Request</a></li>
					<li><a href="#viewDiscounts" id="viewDiscount_Click">View Store Statistics</a></li>
				</ul>
			</div>

		</div>
		<div class="center_content">

			<div id="right_wrap">
				<div id="right_content">
				<div id="storeItem">
					<h2>List of Inventory In Store</h2>
					<table id="example" class="display" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>ITEM_ID</th>
								<th>ITEM NAME</th>
								<th>SELLING PRICE</th>
								<th>QUANTITY</th>
							</tr>
						</thead>
					</table>
				</div>
				<div id="viewRequest">
					<h2>List of Inventory Rquested</h2>
					<table id="inventoryRequest" class="display" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>ITEM ID</th>
								<th>QUANTITY</th>
								<th>COMMENTS</th>
								<th>STATUS</th>
							</tr>
						</thead>
					</table>
				</div>	
				<div id="viewDiscounts">
					<table id="minstoreStatistics" class="display" cellspacing="0" width="100%">
						<thead><h2>Least Popular Item of the Store</h2>
							<tr>
								<th>ITEM NAME</th>
								<th>ITEM SELLING PRICE</th>
								<th>STORE NAME</th>
								<th>QUANTITY</th>
							</tr>
						</thead>
					</table>
					<table id="maxstoreStatistics" class="display" cellspacing="0" width="100%">
						<thead><h2>Most Popular Items of the Store</h2>
							<tr>
								<th>ITM NAME</th>
								<th>ITEM SELLING PRICE</th>
								<th>STORE NAME</th>
								<th>QUANTITY</th>
							</tr>
						</thead>
					</table>
				</div>
				
				<div id="viewReports">
					<h2>Sales Report</h2>
					<div id="salesReport_div" style="width: 400; height: 300"></div><br></br>
					<div id="salesWeekReport_div" style="width: 400; height: 800"></div>
					<div id="salesMonthReport_div" style="width: 400; height: 800"></div>		
  					<div id="monthlyGrowth_Report" style="width: 400; height: 800"></div>
  						<div class="form_row">
								<label style="width:250px">Select the Report You Wish To View</label>
								<br/>
								<select class="form_select" name="typeOfReport" id = "typeOfReport">
									<option value = "WSR" >Weekly Sales Report</option>
									<option value = "MSR" >Monthly Sales Report</option>
									<option value = "PSR" >Monthly Growth Report</option>
								</select>
						</div>
						<div class="form_row" id = "WSR_Input">
							<label>Month</label> <input type="text" class="form_input"
							name="wsr_month" id = "wsr_month"/>
							<label>Year</label> <input type="text" class="form_input"
							name="wsr_year" id = "wsr_year"/>
  						</div>		
  						
  						<div class="form_row" id = "MSR_Input">
							<label>Year</label> <input type="text" class="form_input"
							name="msr_year" id = "msr_year"/>
  						</div>		
  						
  						<div class="form_row" id = "PSR_Input">
							<label>Year</label> <input type="text" class="form_input"
							name="psr_year" id = "psr_year"/>
  						</div>
  						
				</div>
				<div class="form_row">
					<input type="submit" class="form_submit" value="Submit" id = "loadData"/>
				</div>
					<ul id="tabsmenu" class="tabsmenu">
						<li class="active"><a href="#tab1">Inventory Request Form</a></li>
					</ul>
					<form action ="/storeManager/addInventory">
					<div id="tab1" class="tabcontent">
						<h3>Fill the Form to Request Inventory</h3>
						<div class="form">
							<div class="form_row">
								<label>Item ID:</label> <input type="text" class="form_input"
									name="itemId" />
							</div>

							<div class="form_row">
								<label>Qunatity:</label> <select class="form_select" name="qty">
									<option>50</option>
									<option>100</option>
									<option>250</option>
									<option>500</option>
								</select>
							</div>

							<div class="form_row">
								<label>Comments:</label>
								<textarea class="form_textarea" name="Comments"></textarea>
							</div>
							<div class="form_row">
								<input type="submit" class="form_submit" value="Submit" />
							</div>
							<div class="clear"></div>
						</div>
					</div>
					</form>
				</div>
			</div>
			<!-- end of right content-->


			<div class="sidebar" id="sidebar">
				<h2>User Information</h2>
				<ul>
					<li>Name: ABC</li>
					<li>EMP_ID:</li>
					<li>Location</li>
				</ul>
			</div>


			<div class="clear"></div>
		</div>
		<!--end of center_content-->

		<div class="footer"></div>

	</div>


</body>
</html>